LOGIN = "XXX@XXXXXXXXX.XX"
PASSWORD = "XXXXXXXXXXXXXX"

BOT_TOKEN = "111111111:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

DEV_ID = "1X_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

TG_ADMIN_ID = 11111111

MACHINE_ID = 11111111

URL_SECRET = "XXXXXXXX"
